{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
  <h2 class="mb-4">Add a New Travel Plan</h2>
  <form method="post" novalidate>
    {% csrf_token %}
    
    {% for field in form %}
      <div class="mb-3">
        <label class="form-label">{{ field.label }}</label>
        {{ field }}
        {% if field.errors %}
          <div class="text-danger small mt-1">
            {{ field.errors|striptags }}
          </div>
        {% endif %}
      </div>
    {% endfor %}
    <div class="mb-5">
        <button type="submit" class="btn btn-success">Create Trip</button>
    </div>
  </form>
</div>
{% endblock %}