{% extends "base.html" %}

{% block title %}My Trips{% endblock %}

{% block content %}
<div class="container mt-5">
  <h2 class="mb-4">Your Booked Trips</h2>
  {% if trips %}
    <ul class="list-group">
      {% for trip in trips %}
        <div class="card mb-4">
            {% if trip.picture_url %}
            <img src="{{ trip.picture_url }}" class="card-img-top" alt="{{ trip.name }}">
            {% endif %}
            <div class="card-body">
            <h5 class="card-title">{{ trip.name }}</h5>
            <p class="card-text">{{ trip.description }}</p>
            <p class="card-text">{{ trip.start_destination }} → {{ trip.end_destination }}</p>
            <p class="card-text">{{ trip.start_date }} to {{ trip.end_date }}</p>
            </div>
        </div>
      {% endfor %}
    </ul>
  {% else %}
    <p>You haven’t booked any trips yet.</p>
  {% endif %}
</div>
{% endblock %}
